@import url("https://fonts.googleapis.com/css2?family=Pridi&display=swap");

.footer {
  height: 15vh;
  display: flex;
  justify-content: center;
  background-color: #7fdde4;

  &__logo {
    display: flex;
    align-items: center;

    & img {
      width: 60px;
      margin-right: 10px;
    }

    &--name {
      font-size: 40px;
      margin: 0;
      font-family: 'Pridi', serif;
    }
  }
}
